apiVersion: apps/v1
kind: Deployment
metadata:
  name: revelation-server
  namespace: default
  labels:
    app: revelation-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: revelation-server
  template:
    metadata:
      labels:
        app: revelation-server
    spec:
      imagePullSecrets:
        - name: craas-revelation-registry
      containers:
        - name: server
          image: revelation-registry.registry.twcstorage.ru/revelation-server:0.1.0-1ba183f
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: revelation-config
            - secretRef:
                name: revelation-secrets
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
